[Desktop Entry]
Encoding=UTF-8
Name=Wallpaper
Exec=wallpaper.py
Icon=preferences-desktop-wallpaper
Terminal=false
Type=Application
Categories=Settings;
NoDisplay=False
